from tkinter import *
from PIL import ImageTk, Image
import random

# start of GUI
root = Tk()
root.title("Meme Generator")
root.resizable(0, 0)
root.geometry('1000x1000')
root.configure(bg='white')


# list of memes
memes = ["C:/Users/16097/Downloads/hamster3.gif",
         "C:/Users/16097/Downloads/duck2.gif",
         "C:/Users/16097/Downloads/lizard2.gif",
         "C:/Users/16097/Downloads/fish2.gif",
         "C:/Users/16097/Downloads/cat (2).gif"]


# functions
def pick_meme():
    img = Image.open(random.choice(memes))
    image_size = (img.height, img.width)
    filename = ImageTk.PhotoImage(img)
    canvas = Canvas(root, height=img.height - 2, width=img.width - 2)
    canvas.image = filename
    canvas.create_image(0, 0, anchor='nw', image=filename)
    canvas.configure(bg='white')
    if image_size == (450, 521):
        canvas.place(x=250, y=250)
    elif image_size == (643, 360):
        canvas.place(x=350, y=100)
    elif image_size == (224, 272):
        canvas.place(x=380, y=350)
    elif image_size == (348, 178):
        canvas.place(x=390, y=300)
    elif image_size == (724, 876):
        canvas.place(x=60, y=60)

    def new_meme():
        canvas.delete('all')

    new_meme = Button(root, text='clear', bg='black', fg='white', padx=40, pady=30, command=new_meme)
    new_meme.configure(font=('Calibri', 16, 'bold'))
    new_meme.place(x=580, y=800)


# buttons
generate_button = Button(root, text='generate meme', bg='black', fg='white', padx=40, pady=30, command=pick_meme)
generate_button.configure(font=('Calibri', 16, 'bold'))
generate_button.place(x=280, y=800)


root.mainloop()
